cache/
build.log
.build/
.lock
chroot/
config/binary
config/bootstrap
config/build
config/chroot
config/common
config/source
binary/
chroot.files
chroot.packages.install
chroot.packages.live
live-image-amd64.contents
live-image-amd64.files
live-image-amd64.hybrid.iso.zsync
live-image-amd64.packages
config/includes.chroot/etc/skel/.conky/
config/includes.chroot/etc/skel/.nano
config/packages.chroot/*.deb
config/packages.chroot/*.dsc
config/packages.chroot/*.tar.gz
config/packages.chroot/*.tar.xz
config/packages.chroot/*.tar.bz2
config/includes.chroot/etc/firefox/
config/includes.chroot/usr/lib/purple-2/*.so
config/includes.chroot/usr/share/firefox/distribution/extensions/*.xpi
config/includes.chroot/usr/share/themes/
config/includes.chroot/usr/share/bleachbit/
config/includes.chroot/usr/share/fonts/
