config/packages.chroot/*.bz2
config/packages.chroot/*.xz
config/packages.chroot/*.dsc
config/packages.chroot/*.deb
config/packages.chroot/*.gz
config/includes.chroot/etc/skel/.nano
config/includes.chroot/etc/skel/.conky
config/includes.chroot/usr/lib/purple-2/*.so
config/includes.chroot/usr/share/bleachbit/cleaners/*.xml
config/includes.chroot/usr/share/themes/
config/includes.chroot/usr/share/fonts/
config/includes.chroot/etc/icedove/extensions/*.xpi
config/includes.chroot/etc/iceweasel/profile/extensions/*.xpi
config/includes.chroot/etc/iceweasel/pref
cache/
build.log
.build/
.lock
chroot/
config/binary
config/bootstrap
config/build
config/chroot
config/common
config/source
