build.log
config/includes.chroot/etc/firefox-esr/firefox-esr.js
config/includes.chroot/etc/skel/.nano/
config/includes.chroot/usr/lib/purple-2/libsteam*.so
config/includes.chroot/usr/share/bleachbit/cleaners/*.xml
config/includes.chroot/usr/share/firefox-esr/distribution/extensions/*.xpi
config/includes.chroot/usr/share/fonts/
config/includes.chroot/usr/share/themes/Albatross/
config/includes.chroot/usr/share/themes/Blackbird/
config/includes.chroot/usr/share/themes/Zukitwo/
config/includes.chroot/usr/share/themes/Zukitre/
config/includes.chroot/usr/share/themes/Numix/
config/includes.chroot/usr/share/themes/Greybird/
config/includes.chroot/usr/share/themes/Bluebird/
config/includes.chroot/usr/share/icons/Paper*
config/includes.chroot/usr/share/thunderbird/extensions/*.xpi
config/packages.chroot/*.deb
config/packages.chroot/*.dsc
config/packages.chroot/*.gz
config/packages.chroot/*.xz
config/packages.chroot/*.bz2
iso/