[Desktop Entry]
Version=1.0
Type=Application
Name=Random password generator
Name[fr]=Générateur de mots de passe
Comment=Generate random passwords
Comment[fr]=Générer des mots de passe aléatoires
Exec=gpwgen
TryExec=gpwgen
Icon=password
Terminal=false
StartupNotify=false
