[Desktop Entry]
Version=1.0
Name=Clock
Name[fr]=Horloge
Comment=Analog clock
Comment[fr]=Horloge analogique
Exec=xclock
TryExec=xclock
Icon=clock
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=Office;Application;Accessories;Utility
StartupNotify=true