[Desktop Entry]
Type=Application
Icon=lock
TryExec=xdg-screensaver
Exec=xdg-screensaver lock
Name=Lock screen
Name[fr]=Verrouiller l'écran  
Comment=Activate screensaver and lock the computer with a password
Comment[fr]=Activer l'économiseur d'écran et protéger l'ordinateur par mot de passe
Categories=Settings;DesktopSettings;X-LXDE-Settings;
