[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird Mail
Name[fr]=Messagerie Thunderbird
Comment=Send and receive mail with Thunderbird
Comment[fr]=Lire et écrire des courriels
GenericName=Mail Client
GenericName[fr]=Client de messagerie
Keywords=Email;E-mail;Newsgroup;Feed;RSS
Keywords[fr]=Mails;Mels;E-Mails;Emails;Courriels;Courriers;Newsgroup;Feed;RSS;Poster;Thunderbird;Lire;Écrire
Exec=thunderbird %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=thunderbird
Categories=Application;Network;Email;
MimeType=x-scheme-handler/mailto;application/x-xpinstall;
StartupNotify=true
Actions=Compose;Contacts
X-XFCE-Source=file:///usr/share/applications/thunderbird.desktop

[Desktop Action Compose]
Name=Compose New Message
Name[fr]=Rédiger un nouveau courriel
Exec=thunderbird -compose

[Desktop Action Contacts]
Name=Contacts
Name[fr]=Carnet d'adresses
Exec=thunderbird -addressbook
