[Desktop Entry]
Type=Application
TryExec=marble-qt
Exec=marble-qt %F
Name=Marble
Name[fr]=Marble
GenericName=Virtual Globe
GenericName[fr]=Globe virtuel
Icon=marble
Terminal=false
Categories=Qt;KDE;Education;Geography;
X-DocPath=marble/index.html
X-XFCE-Source=file:///usr/share/applications/kde4/marble-qt.desktop
