[Desktop Entry]
Version=1.0
Name=GNOME MPV (Add to playlist)
Name[fr]=GNOME MPV (Ajouter)
Encoding=UTF-8
Exec=gnome-mpv --enqueue %F
TryExec=gnome-mpv
Icon=mpv
Terminal=false
Type=Application
MimeType=video/*;audio/*