[Desktop Entry]
Type=Application
Name=dbu setup assistant
Name[fr]=Assistant d'installation dbu
Comment=Guided first installation
Comment[fr]=Première installation guidée
Icon=gnome-app-install
Tryexec=dbu-setup-assistant
Exec=dbu-setup-assistant
StartupNotify=true
Terminal=true
Categories=System
NoDisplay=true
