[Desktop Entry]
Comment=Ajustement de la température de couleur
Name=Redshift
Exec=redshift-gtk
StartupNotify=true
Terminal=false
Name=Color temperature adjustment
Name[fr]=Redshift
Version=1.0
Type=Application
Categories=Utility;
Icon=redshift